.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 1rem 0.5rem;
    position: fixed;
    width: 100%;
  }
  img{
    width: auto;
    height: 50px;
  }
  .nav {
    display: flex;
  }
  
  .navLink {
    color: #ff5100;
    text-decoration: none;
    margin: 0 1rem;
  }
  
  .navLink:hover {
    text-decoration: underline;
  }
  
  .welcome {
    font-weight: bold;
  }
  